<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <nav class="navigation">
    <ul class="navigation__list">
        <% for(let i=0; i<categories.length; i++) { %>
            <li class="navigation__element">
                <a  class="navigation__link" href='category/<%= categories[i] %>'>
                    <%= categories[i].replace('-', ' ') %>
                </a>
            </li>
        <% } %>
    </ul>
  </nav>
</body>

</html>